#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-block input{
  margin: 0px 12px;
  padding: 8px 12px;
}

.tracker-block ul{
  text-align: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}