#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-block input{
  margin: 5px 12px;
  padding: 8px 12px;
}

.tracker-block ul{
  text-align: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.incomes-list, .expenses-list {
  margin-top: 14px;
}

.incomes-list span, .expenses-list span {
  margin: 0px 10px;
}

.incomes-list button, .expenses-list button{
  border: none;
  font-size: 0.75em;
  background-color: transparent;
}

.positive{
  color: #78C841;
}

.negative {
  color: #FB4141;
}

.neutral {
  color: beige;
}

.recharts-wrapper{
  margin: 0 auto;
}

@media (min-width: 320px) {
  .container{
    width: 300px;
    margin: 0 auto;
  }

  .container h1{
    font-size: 32px;
  }
  .recharts-wrapper{
    margin: 0 auto;
    width: 300px;
  }
}